@{{.Name}} さん

プロラボアカウントに紐づけられたメールアドレスを {{.Email}} に変更するには下記のURLにアクセスしてください。
この操作に覚えがない場合は、このメールを無視してください。

{{.ConfirmationURL}}

-----------------------------------------------
久留米高専 プログラミングラボ部
https://kurume-nct.com
-----------------------------------------------
