プロラボアカウントに招待されました。

下記URLにアクセスしてユーザー登録を完了してください。

{{.RegistrationURL}}

-----------------------------------------------
久留米高専 プログラミングラボ部
https://kurume-nct.com
-----------------------------------------------
