@{{.Name}} さん

プロラボアカウントのパスワードをリセットするには、下記のURLにアクセスしてください。
この操作に心当たりがない場合は、このメールを無視してください。

{{.ConfirmationURL}}

-----------------------------------------------
久留米高専 プログラミングラボ部
https://kurume-nct.com
-----------------------------------------------
